body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgb(10, 8, 22);
    color: white;
    font-family: "Courier New", Courier, monospace;
}

#code {
    font-family: "Courier New", Courier, monospace;
    width: 60vw;
    height: 30vh;
    vertical-align: top;
    text-align: left;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(29, 29, 29);
    color: rgb(2, 206, 2);
    
}

#code:focus {
    outline: none;
}

#submit {
    font-family: "Courier New", Courier, monospace;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border:none;
    font-size: 20px;
    font-weight: bolder;
}

#submit:hover {
    cursor: pointer;
}